
body {
    font-family: 'Roboto Condensed', sans-serif;
    position: relative; /* Needed for the pseudo-element */
    overflow: hidden; /* Prevents scrollbars from showing */
}

/* Background image with fixed position */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://www.progressiverailroading.com/resources/editorial/2019/PR1019-NJTransit.jpg);
    background-size: cover;
    background-attachment: fixed; /* Fix the background image */
    background-position: center; /* Center the background image */
    opacity: 0.2; /* Decrease opacity to half */
    z-index: 1; /* Ensure it is behind the content */
}

/* NJ TRANSIT colors */
.bg-nj-blue { background-color: #1A2B57; }
.text-nj-yellow { color: #FFCB05; }
.hover-bg-nj-yellow:hover { background-color: rgba(255, 203, 5, 0.5); }
.hover-txt-nj-yellow:hover { color: rgba(255, 203, 5, 0.5); }
.focus-ring-nj-blue:focus { border-color: #002D72; }

/* Style the logo */
.logo {
    max-height: 70px;
    width: auto;
    margin-top: 10px;
}

/* Add padding to avoid overlap with the navbar */
.content {
    padding-top: 80px; /* Adjust according to the height of your navbar */
    position: relative; /* Create a stacking context */
    z-index: 2; /* Ensure content is above the background */
}

/* Slide-up animation with percentage */
@keyframes slideUp {
    0% { transform: translateY(20%); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

/* Fade-in animation */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Apply animations */
.slide-up { 
    animation: slideUp 1s ease-out; 
}
.fade-in {
    animation: fadeIn 2s ease-out;
}