<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Employee Portal</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/employee.css') }}">
    </head>
    <body>
        <div class="background-image"></div>
        <!-- Navigation bar -->
        <header class="navbar">
            <a href="{{ url_for('index') }}" target="_blank">
                <img src="{{ url_for('static', filename='img/nj_transit_logo.png') }}" alt="NJ TRANSIT Logo" class="logo">
            </a>
        </header>
        </body>
</html>